@import url(//db.onlinewebfonts.com/c/37b29158c68de167677fa4a3087d7188?family=Tiempos+Text+Regular);

html,
body {
  background-image: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%);
  padding: 0;
  margin: 0;
  background-color: #F7F6E7 ;
  font-family: 'Helvetica';
}

p {
  color: rgb(66, 65, 83);
}

* {
  box-sizing: border-box;
}
