
html,
body {
  
  padding: 0;
  margin: 0;

  background-color: #fbfcdb;
  font-family: 'Helvetica';

}
div {
  color: #425a70;
}
a {
  color: #234361;
}
p {
color: #425a70;
font-size: calc(16px + .2vw);
}
h1, h2, h3 {
  color: #234361;
}
* {
  box-sizing: border-box;
}
