@import url(//db.onlinewebfonts.com/c/37b29158c68de167677fa4a3087d7188?family=Tiempos+Text+Regular);

html,
body {
  
  padding: 0;
  margin: 0;


  font-family: 'Helvetica';

}

p {

}

* {
  box-sizing: border-box;
}
